* {
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;

}

.nav-bar{
    background-color: #4971f3;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 98%;
    position: fixed;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 50%;
    box-shadow: 0px 0px 10px 10px rgb(201, 223, 235);
}

.avatar1 {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 35%;
    margin-bottom: 15%;
}

.nav-menu{
    display: flex;
    text-decoration: none;
    margin: auto;
    text-transform: uppercase;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 75%;

}

.banner{
    background: linear-gradient(rgb(0,0,0, 0.2),rgba(0,0,0, 0.3)),url(../IMG/Banner.jpeg) fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;

}

li a:hover{
    color: #051a5c;
    transition: 0.3s;
}

h1 {
    font-size: 35px;
    color: blue;
} 

h2 {
    font-size: 20px;
    color: rgb(16, 173, 235);
}

.titulo {
    color: #616161;
}

.titulo2 {
    color: #9706f8;
}

.content {
    background: chartreuse;
    /* background-image: url("IMG/Michael.jpg"); */
}

.redes {
    width: 75px;
    height: 75px;
}

.redes a img {
    width: 100%;
}

.avatar2 {
    width: 150px;
    height: 150px;
    border: 0px;
    border-radius: 50%;
}


#contact {
    background: rgb(112, 112, 112);
    color: #b6b3b3;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
}


.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10PX;
    cursor: pointer;
    }
    
.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 35%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    font-size: 1em;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3 ease all;
}
    
.formulario__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}
    
.formulario__validacion-estado {
    position: absolute;
    right: 1rem;
    bottom: 15px;
    z-index: 100;
    font-size: 1.5em;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}


.formulario__grupo-redes {
    display: flex;
    justify-content: space-between;
    /* margin-top: 20%; */
    /* margin-bottom: 5%; */
    position: relative;
    width: 15%;
}
    
.formulario__grupo-redes img {
    width: 75px;
    height: 75px;
}
.inf_contato p {
    font-size: 17px;
    line-height: 45px;
}

.formulario__completa {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    color: #000;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    margin-top: 15px;
    font-size: 100%;
    width: 100%;
}
    
.formulario__completa-activo {
    display: block;
}

.formulario__completa p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 15%;
}
    
.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: rgb(46, 46, 46);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1 ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0 30px rgba(103, 103, 103, 1);
}

.formulario__mensaje-exito {
    font-size: 1.25em;
    color: #119200;
    display: none;
    margin-top: 15px;
}
    
.formulario__mensaje-exito-activo {
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}
